@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@400;700&family=Imperial+Script&family=Ruda&display=swap');

h1{
    font-family: 'Imperial Script', serif;
    font-size: 6.5rem;
    font-weight: normal;
    text-align: center;
    color: #333;
    margin: 0;
}

div.recipe{
    font-family: "Crimson Pro", serif;
    background-color: rgb(247,237,226);
    padding: 1rem;
    width: 710px;
    margin-left: auto;
    margin-right: auto;
}

h2{
    font-family: 'Ruda', serif;
    font-size: 2rem;
    font-weight: normal;
    text-align: right;
    color: #333;
    border-bottom: .1rem solid #333;
}

header > dl{
    border-top: 2px dashed rgb(242,132,130);
    border-left: 2px dashed rgb(242,132,130);
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom: 2px dashed rgb(242,132,130);
    border-right: 6px solid rgb(242,132,130);
    background-color: rgb(245,202,195);
    padding: 1rem;
}

header > dl > dt{
    text-transform: capitalize;
    font-variant-caps: small-caps;
    font-size: 1.6rem;
    margin-left: 10px;
    line-height: 2.5rem;
}

header > dl > dd{
    font-size: 1.2rem;
    margin-left: 10px;
    line-height: 1rem;
}

.description > p {
    font-size: 1.3rem;
    line-height: 1.8rem;
    padding: 0.2rem;
}

.description > img {
    height: 100%;
    width: 100%;
}

h4 {
    font-size: 1.4rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 0;
}

.ingredients > ul > li {
    font-size: 1.1rem;
    font-weight: normal;
    color: #333;
    line-height: 2.4rem;
}

span.ingredient{
    background-color: transparent;
    color: rgb(142,172,163);
    font-weight: bold;
}

.method > ol > li {
    font-size: 1.1rem;
    font-weight: normal;
    color: #333;
    line-height: 2.4rem;
}